{% extends '_base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <a href="#" class="btn btn-outline-dark p-0">
                <div class="card h-100 text-bg-dark">
                    <img src="https://animego.org/media/cache/thumbs_300x420/upload/anime/images/62c5a4b57cfa1601529074.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">TITLE</h5>
                        <p class="card-text">ТЭГИ</p>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
</div>
{% endblock %}