{% extends '_base.html' %}



{% block content %}
<div class="container text-center mt-5 py-5">
    <div class="row justify-content-md-center py-5">
        <div class="col-md-4">
            <form method="POST">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Please register</h1>

                <div class="form-floating py-2">
                    <input type="username" name="username" required="" id="id_username" maxlength="150" class="form-control text-bg-dark bg-dark"
                        placeholder="Email" aria-label="default input example">
                    <label for="floatingInput">Username</label>
                </div>
                
                <div class="form-floating">
                    <input type="email" name="email" required="" id="id_username" maxlength="150" class="form-control text-bg-dark bg-dark"
                        placeholder="Email" aria-label="default input example">
                    <label for="floatingInput">Email</label>
                </div>
                
                <div class="form-floating py-2">
                    <input type="password" name="password1" required="" class="form-control text-bg-dark bg-dark" id="id_password" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                
                <div class="form-floating small">
                    <input type="password" name="password2" required="" class="form-control text-bg-dark bg-dark" id="id_password" placeholder="Password">
                    <label for="floatingPassword">Reapet Password</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">register</button>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}